{{! # Citation for this file:
# Date: 11/04/2025
# Based on: Exploration - Web Application Technology
# Source URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
#
# Date: 11/17/2025
# Based on: “Exploration - Implementing CUD operations in your app.
# Source URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-implementing-cud-operations-in-your-app?module_item_id=25645149 }}

<h1>Assets</h1>

{{! READ table }}
<table>
    <thead>
        {{! Replace Attributes with header names for header row}}
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Asset Type</th>
            <th>Status</th>
            <th>Value ($)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the asset_id, name, asset type, status and value }}
        {{#each assets}}
        <tr>
            <td>{{this.asset_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.asset_type}}</td>
            <td>{{this.status}}</td>
            <td>{{this.value}}</td>

            {{! DELETE form }}
            <form id='delete_asset_form' method='POST' action='/assets/delete'>
                <input type='hidden' name='delete_asset_id' value='{{this.asset_id}}' />
                <input type="hidden" name="delete_asset_name" value="{{this.name}}" />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create an Asset</h2>
<form class='cuForm' id='create_asset_form' method='POST' action='/assets/create'>
    <label for='create_asset_name'>Name: </label>
    <input type='text' name='create_asset_name' id='create_asset_name' required />

    <label for='create_asset_type'>Asset Type: </label>
    <input type='text' name='create_asset_type' id='create_asset_type' required />

    <label for='create_asset_status'>Status: </label>
    <input type='text' name='create_asset_status' id='create_asset_status' required />

    <label for='create_asset_value'>Value: </label>
    <input type='number' step='0.01' name='create_asset_value' id='create_asset_value' required />
    
    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update an Asset</h2>
<form class='cuForm' id='update_asset_form' method='POST' action='/assets/update'>
    <label for='update_asset_id'>Asset to Update: </label>
    <select name='update_asset_id' id='update_asset_id' required>
        {{! Select asset drop-down option }}
        <option value='' disabled selected>Select an Asset</option>
        {{#each assets}}
        <option value='{{this.asset_id}}'>
            {{this.asset_id}} - {{this.name}}
        </option>
        {{/each}}
    </select>

    <label for='update_asset_name'>Name: </label>
    <input type='text' name='update_asset_name' id='update_asset_name' required />

    <label for='update_asset_type'>Asset Type: </label>
    <input type='text' name='update_asset_type' id='update_asset_type' required />

    <label for='update_asset_status'>Status: </label>
    <input type='text' name='update_asset_status' id='update_asset_status' required />

    <label for='update_asset_value'>Value: </label>
    <input type='number' step='0.01' name='update_asset_value' id='update_asset_value' required />

    <input type='submit' />
</form>