{{! # Citation for this file:
# Date: 11/04/2025
# Based on: Exploration - Web Application Technology
# Source URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
#
# Date: 11/17/2025
# Based on: “Exploration - Implementing CUD operations in your app.
# Source URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-implementing-cud-operations-in-your-app?module_item_id=25645149 }}

<h1>Breached Assets</h1>

{{! READ table }}
<table>
    <thead>
        {{! Replace Attributes with header names for header row}}
        <tr>
            <th>Asset ID</th>
            <th>Asset Name</th>
            <th>Breach ID</th>
            <th>Datetime Of Breach</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the asset id, asset name, breach id and date of breach}}
        {{#each assetshasbreaches}}
        <tr>
            <td>{{this.asset_id}}</td>
            <td>{{this.asset_name}}</td>
            <td>{{this.breach_id}}</td>
            <td>{{this.date_of_breach}}</td>

            {{! DELETE form }}
            <form id='delete_asset_breach_form' method='POST' action='/assetshasbreaches/delete'>
                <input type='hidden' name='delete_asset_id' value='{{this.asset_id}}' />
                <input type='hidden' name='delete_breach_id' value='{{this.breach_id}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Assign an Asset to a Breach</h2>
<form class='cuForm' id='create_asset_breach_form' method='POST' action='/assetshasbreaches/create'>
    <label for='create_asset_id'>Asset: </label>
    <select name='create_asset_id' id='create_asset_id' required>
        {{! Select asset drop-down option }}
        <option value='' disabled selected>Select an Asset</option>
        {{#each assets}}
        <option value='{{this.asset_id}}' required>
            {{this.asset_id}} - {{this.asset_name}}
        </option>
        {{/each}}
    </select>

    <label for='create_breach_id'>Breach: </label>
    <select name='create_breach_id' id='create_breach_id' required>
        {{! Select breach drop-down option }}
        <option value='' disabled selected>Select a Breach</option>
        {{#each breaches}}
        <option value='{{this.breach_id}}' required>
            {{this.breach_id}} - {{this.date_of_breach}}
        </option>
        {{/each}}
    </select>

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update an Asset/Breach Relationship</h2>
<form class='cuForm' id='update_asset_breach_form' method='POST' action='/assetshasbreaches/update'>
    <label for='update_asset_id'>Asset: </label>
    <select name='update_asset_id' id='update_asset_id' required>
        {{! Select asset drop-down option }}
        <option value='' disabled selected>Select an Asset</option>
        {{#each assets}}
        <option value='{{this.asset_id}}' required>
            {{this.asset_id}} - {{this.asset_name}}
        </option>
        {{/each}}
    </select>

    <label for='update_breach_id'>Breach: </label>
    <select name='update_breach_id' id='update_breach_id' required>
        {{! Select breach drop-down option }}
        <option value='' disabled selected>Select a Breach</option>
        {{#each breaches}}
        <option value='{{this.breach_id}}' required>
            {{this.breach_id}} - {{this.date_of_breach}}
        </option>
        {{/each}}
    </select>

    <label for='update_new_asset_id'>New Asset: </label>
    <select name='update_new_asset_id' id='update_new_asset_id' required>
        {{! Select asset drop-down option }}
        <option value='' disabled selected>Select an Asset</option>
        {{#each assets}}
        <option value='{{this.asset_id}}' required>
            {{this.asset_id}} - {{this.asset_name}}
        </option>
        {{/each}}
    </select>

    <label for='update_new_breach_id'>New Breach: </label>
    <select name='update_new_breach_id' id='update_new_breach_id' required>
        {{! Select breach drop-down option }}
        <option value='' disabled selected>Select a Breach</option>
        {{#each breaches}}
        <option value='{{this.breach_id}}' required>
            {{this.breach_id}} - {{this.date_of_breach}}
        </option>
        {{/each}}
    </select>

    <input type='submit' />
</form>